@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.area {
    /* width:100%; */
    height: 100%;
	 /* background-color: azure; */
}

.bg{
    background-image: url("./assets/llline.svg");
}

@media (max-width: 430px) {
    #birthdaySection,#onlinesection,#storySection,#searchSection{
        display: none;
    }
    #NavProfilePic{
        display: none;
    }
    #bell1{
        display: none;
    }
    #inputStatusSection{
        display: none;
    }
    #post{
        width: 90%;
        margin: 100px auto;
    }
    #sidebar{
        display: none;
    }
    #navbar{
        top: 0;
    }
    #loginform{
        padding-top: 60px;
    }
    #loginformBackground,#regBackground{
        height: 100vh;
    }
    #username1{
        display: none;
    }
    #bell{
        margin-top: 16px;
    }
    #posts{
        margin-top: 550%;
    }
    #search{
        margin-top: 40px;
    }
    #profile{
        margin-top: 140px;
    }
    
    
  }

  @media(min-width:768px){
    #username2{
        display: none;
    }
  }




