@tailwind base;
@tailwind components;
@tailwind utilities;



.area {
    /* width:100%; */
    height: 100%;
	 background-color: azure;
}

.bg{
    background-image: url("./assets/llline.svg");
}

@media (max-width: 430px) {
    #birthdaySection,#onlinesection,#storySection,#searchSection{
        display: none;
    }
    #NavProfilePic{
        display: none;
    }
    #bell1{
        display: none;
    }
    #inputStatusSection{
        display: none;
    }
    #post{
        width: 90%;
        margin: 100px auto;
    }
    #sidebar{
        display: none;
    }
    #navbar{
        top: 0;
    }
    #loginform{
        padding-top: 60px;
    }
    #loginformBackground,#regBackground{
        height: 100vh;
    }
    
  }




